/*General CSS*/
html {
  cursor: auto;
}

body {
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
/*Goals CSS*/

.addGoal {
	margin-left: 5px;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 5px;
}

.removeGoal {
	margin-left: 5px;
	padding: 2px;
	border: 1px solid red;
	border-radius: 5px;
}

.saveGoals {
	margin-left: 5px;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 5px;
}

.actionContainer {
	margin-left: 5%;
}

.goalContainer {
	height: 100%;
	width: 100%;
	background-color: #efefef;
}

.goalInput {
	min-width: 300px;
	display: block;
	margin-bottom: 5px;
}

.goalInput:first-child {
	margin-top: 5px;
}

/*MM Goals CSS*/

.mmListItem {
	text-align: left;
	font-size: 0.9em
}

.mmListHeader {
	fond-weight: 600;
}

.mmListWrapper {
	
}